PORT=4000

NODE_ENV=production

MONGO_URL=

JWT_SECRET=

JWT_EXPIRES=7d

CLOUDINARY_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=

MAIL_HOST=

MAIL_PORT=

MAIL_USER=

MAIL_PASS=

RAZORPAY_KEY_ID=

RAZORPAY_KEY_SECRET=

FRONTEND_DEV=http://localhost:3000

FRONTEND_PROD=